{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dreams Travel With Travelo</title>
    <link href="images/favicon.jpg" rel="icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="Travel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- bootstrap-css -->
    <link
      href="{% static "css/bootstrap.css" %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    
    <link rel="{% static "stylesheet" href="css/style.css" %}" type="text/css" media="all" />
    
    
    <link rel="{% static "stylesheet" href="css/chocolat.css" %}" type="text/css" />
    
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
    
    <link
      href="{% static "//fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" %}"
      rel="stylesheet"
    />
    <link
      href="{% static "//fonts.googleapis.com/css?family=Raleway:100,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" %}"
      rel="stylesheet"
    />
    <link
      href="{% static "//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" %}"
      rel="stylesheet"
    />
    <!-- //font -->
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
          event.preventDefault();
          $("html,body").animate(
            { scrollTop: $(this.hash).offset().top },
            1000
          );
        });
      });
    </script>
   
  </head>
  <body>
    <!-- banner -->
    {% include 'header.html' %}
    <!-- //banner -->
    <!-- modal -->
    <div
      class="modal about-modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Travel</h4>
          </div>
          <div class="modal-body">
            <div class="agileits-w3layouts-info">
              <img src="{% static "images/about2.jpg" %}" alt="" />
              <p>
                Duis venenatis, turpis eu bibendum porttitor, sapien quam
                ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque
                ac fermentum diam. Integer eu facilisis nunc, a iaculis felis.
                Pellentesque pellentesque tempor enim, in dapibus turpis
                porttitor quis. Suspendisse ultrices hendrerit massa. Nam id
                metus id tellus ultrices ullamcorper. Cras tempor massa luctus,
                varius lacus sit amet, blandit lorem. Duis auctor in tortor sed
                tristique. Proin sed finibus sem
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //modal -->
    <!-- gallery -->
    <div class="portfolio">
      <div class="container">
        <h2 class="heading-agileinfo">
          Gallery<span>Exclusive Holidays for Any Travelers</span>
        </h2>
        <div class="portfolio-agile">
          <div class="main">
            <div class="view view-seventh">
              <a
                href="images/g1.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g1-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g2.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g2-.jpg"%}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g3.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g3-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g4.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g4-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g5.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g5-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g6.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g6-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g7.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g7-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g8.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g8-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>

            <div class="view view-seventh">
              <a
                href="images/g9.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g9-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g10.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g10-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g11.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g11-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="view view-seventh">
              <a
                href="images/g12.jpg"
                class="b-link-stripe b-animate-go thickbox"
              >
                <img src="{% static "images/g12-.jpg" %}" alt="" />
                <div class="mask">
                  <h4>Travel</h4>
                </div>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- //gallery -->

    <!-- footer -->
    {% include 'footer.html' %}
    <!-- //footer -->
    <!-- gallery-pop-up-script -->
    <script src="{% static "js/jquery.chocolat.js" %}"></script>
    <script type="text/javascript">
      $(function () {
        $(".view-seventh a").Chocolat();
      });
    </script>
    <!-- //gallery-pop-up-script -->

    <!--Start-slider-script-->
    <script src="{% static "js/SmoothScroll.min.js" %}"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
      $(document).ready(function () {
       

        $().UItoTop({ easingType: "easeOutQuart" });
      });
    </script>
    <!-- //here ends scrolling icon -->
  </body>
</html>
